attrs==21.2.0
black==21.11b1
certifi==2021.10.8
charset-normalizer==2.0.8
click==8.0.3
flake8==4.0.1
fastapi==0.116.1
uvicorn==0.35.0
gunicorn==21.2.0
cachetools==6.1.0
httpx==0.27.0
idna==3.3
iniconfig==1.1.1
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
mypy-extensions==0.4.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.6
pytest==6.2.5
python-dotenv==0.19.2
regex==2021.11.10
requests==2.26.0
toml==0.10.2
tomli==1.2.2
typing_extensions==4.11.0
urllib3==1.26.7
